NODE_ENV=development
NODE_TLS_REJECT_UNAUTHORIZED=0

EDITOR_SERVER_HOST=http://kubernetes.docker.internal:19980
NEXT_PUBLIC_API_HOST_URL=http://kubernetes.docker.internal:33080

AWS_S3_ACCESS_KEY_ID=AKIATKJPN7U2LOEQX5AU
AWS_S3_SECRET_ACCESS_KEY=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
AWS_S3_BUCKET_NAME=ceqcmstest
AWS_S3_REGION=us-east-1

TEMPLATE_SERVICE_PORT=33080
ACCOUNT_SERVICE_PORT=33081
CLIENT_SERVICE_PORT=33082
CLAUSE_SERVICE_PORT=33083

WEB_PORT=35080
COLLABORA_PORT=19980
ONLYOFFICE_PORT=20080

REDIS_HOST=redis
REDIS_USER=default
REDIS_PASSWORD=redis
REDIS_PORT=6379

RABBITMQ_USERNAME=rabbitmq
RABBITMQ_PASSWORD=rabbitmq
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

ELASTICSEARCH_URL=http://elastic:9200
ELASTICSEARCH_USERNAME=elastic
ELASTICSEARCH_PASSWORD=elastic

# FOR FRONTEND
EDITOR_SERVER_HOST=http://kubernetes.docker.internal:19980
TEMPLATE_API_URL=http://kubernetes.docker.internal:33080
ACCOUNT_API_URL=http://kubernetes.docker.internal:33081